.statistics {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 170px; 
    padding-bottom: 50px;
    padding-top: 20px;
  }
  
  .title {
    margin: 0;
    font-size: 46px;
    padding-top: 20px;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: rgb(216, 235, 247);
  
  }
  
  .statList {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 70px;
    margin: 0;
    padding: 0;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
    background-color: rgb(158, 218, 200);
    color: #ffffff;
    padding: 10px;
    border: 1px solid beige;
  }
  
  .item:nth-child(odd) {
    background-color: rgb(172, 185, 126);
  }
  
  .label {
    font-size: 22px;
  }
  
  .percentage {
    font-size: 26px;
  }